/*new frontend*/
html{
    box-sizing: border-box;
    font-size: calc(15px + 1vw);
}
html *{
    box-sizing: inherit;
}
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-family: monospace;
    margin: 0;
    padding: .2em .8em;
    background-color: #292828;
}
header img{
    height: 10vw;
    width: 10vw;
    margin: 0 .6em 0 .5rem;
    flex: 0; 
}
a.addLocation{
    margin: 1em 2em 0;
    font-size: 1.2rem;
}
form.special{
    flex: 1 1 0;
    margin: 1px;
    max-width: 60vw;
    position: relative;
}
form.special input{
    font-size: 1rem;
    padding: .1em .8em;
    width: 70%;
    border: none;
    border-right: none;
    border-radius: 1em 0 0 1em;
}
form.special button{
    font-size: 1rem;
    padding: .1em .4em;
    color: white;
    background-color: rgb(214, 73, 73);
    border-radius: 0 1em 1em 0;
    border: none;
    border-left: none;
    position: absolute;
    left: 70%;
    width: 30%;
    cursor: pointer;
}
div.main{
    position: relative;
}
div.loader{
    z-index: 5;
    height: 5vh;
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
div.loader::before{
    content: " ";
    position: absolute;
    top: 0px;
    left: calc(50vw - 2.5vh);
    height: 5vh;
    width: 5vh;
    background-image: linear-gradient(to bottom, rgb(214,73,73) 50%, transparent 50%);
    border-radius: 50%;
    animation: rotate 1s;
    animation-iteration-count: infinite;
}
div.loader::after{
    content: " ";
    position: absolute;
    top: .5vh;
    left: calc(50vw - 2vh);
    height: 4vh;
    width: 4vh;
    background-color: white;
    border-radius: 50%;
}
div.container>div.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px auto;
    font-size: 1rem;
    padding: 1em 2em;
}
div.container .locationName{
    flex: 0 0 50px;
    font-size: 1.5rem;
    margin-right: 1em;
    color: rgb(214, 73, 73);
}
   
div.data ul{
    background-color: #292828;
    color: aliceblue;
    max-width: 100vw;
    overflow: auto;
    border-radius: .2em;
    margin: auto;
    display: flex;
    padding: 0px 2px;
    box-shadow: inset -5px 0px  5px rgb(255, 255, 255);
}
div.data ul li{
    display: inline-block;
    padding-right: 20px;
    flex: 75px 1 0;
    padding: 5px;
    border-right: 1px solid wheat;
}
div.data ul li:last-child{
    border: none;
    box-shadow: inset -10px 0  0 #292828;
}
div.data ul li h4{
    display: inline;
    font-size: .6rem;
    margin: 0 1em;
}
div.data ul li span{
    font-size: 1.5rem;
    margin-left: 0.5em;
}
.hide{
    display: none;
}
div.locations{
    margin: .8em 2vw;
    display: flex;
    overflow: auto;
}
div.locations>div{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;
    justify-content: space-around;
    min-height:20vh;
    min-width: 20vh;
    padding: 0 .8em 0 .8em;
    margin: .4em 1em;
    background-color: #2196F3;
    color: #fff;
    border-radius: 5px;
    border-left: 4px solid rgb(0, 0, 0); 
    box-shadow: 2px 0 5px 0 #292828;
    position: relative;
}
div.locations>h2{
    color: rgb(214, 73, 73);
    width: 50%;
    margin: auto;
    font-weight: 300;
}
div.add-more{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 15vh;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: none;
    margin: auto;
}
p.location-tab-fallback{
    margin: .8em auto 0;
    width: 60vw;
    color: #292828;
}
div.add-more a{
    color: #292828;
    text-decoration: none;
    background-color: rgb(240, 240, 239);
    border-radius: 50%;
    border-bottom: 1px solid #292828;
    padding: 1em;
}
div.add-more img{
    height: 5vh;
    width: 5vh;
}
div.locations>div::after{
    content: "";
    background-color: rgb(250, 250, 250);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 5%;
}
div.locations>div img{
    height: 4vh;
    width: 4vh;
    margin: auto;
}
div.locations>div div.footer{
    display: flex;
    justify-content: space-between;
}
div.locations>div div.footer h4{
    margin: 0;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

form.addLoc-form{
    width: fit-content;
    margin: auto;  
}
form.addLoc-form input{
    font-size: 1rem;
    border: 1px solid rgb(214, 73, 73);
    padding: .2em .4em;
}
form.addLoc-form button{
    font-size: 1rem;
    padding: .2em .4em;
    border: 1px solid rgb(214, 73, 73);
    background-color: rgb(214, 73, 73);
    color: white; 
}
div.tab{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
}
div.tab div{
    order:1;
    border-left: 2px solid rgb(214, 73, 73);
    font-size: .8rem;
    padding: 0 1em;
    margin: 1em 0;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
div.tab button{
    border: 1px solid #292828;
    background-color: #292828;
    color: white;
    font-size: .8rem;
    padding: .4em 1em;
    margin: 5px;
}
div.new-loader{
    text-align: center;
    order: 2;
}